.category-list-count:after {
	
    content: ' 篇';

}
.fa-book{
    padding-right:5px
}
.category-list-count {
        font-weight: bold;
}
.category-list-item {list-style-type:none;}
.pgc-img {width:50%;margin: 0 auto}
.tagbackground {background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.4) 25%,rgba(16,16,16,0) 100%);

.color-card{
	width: 24%; height: 180px; margin: 0.3rem 0.5%;
}

