#zan{
    max-width:780px;margin:0 auto;
    .heart{
        background:url(https://o0o901ja2.qnssl.com/images/web_heart_animation.png);background-position:left;background-repeat:no-repeat;height:100px;width:100px;background-size:2900%;float:left;display:inline-block;position:relative;left:0;top:0;z-index:0;}
    #zan_text{display:inline-block;font-family:'Georgia',Times,serif;font-size:25px;color:#999;position:relative;left:-15px;line-height:100px}
  	-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;user-select:none;
}
@keyframes heartBlast {
    0% {background-position:left;}
    100% {background-position:right;}
}
.heartAnimation {
    display:inline-block;
    animation-name:heartBlast;
    animation-duration:.8s;
    animation-iteration-count:1;
    animation-timing-function:steps(28);
    background-position:right;
}